.home {
  display: flex;
  height: 88.7vh;
  width: 100%;
  color: var(--text-primary);
}
.sidebar {
  flex: 0.2;
}
.feed {
  flex: 0.8;
  background-color: var(--bg-secondary);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.feed_content {
  width: 75%;
  height: 90%;
  overflow-y: scroll;
}
.trending_feeds {
  flex: 0.2;
  overflow-y: scroll;
  margin-left: 0.4rem;
}
.trending_feeds > p {
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 3rem;
}
.nav_active {
  color: #fe456e;
  background-color: var(--bg-secondary);
}
.sidebar {
  display: flex;
  flex-direction: column;
}
.sidebar1 {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.sidebar2 {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--text-secondary);
}

.sidebar3 {
  flex: 0.1;
  border-top: 1.5px solid #c6c6c6;
  display: flex;
  color: var(--text-secondary);
  align-items: center;
}
.sidebar1_child1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar1_child1 > img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 3px solid #e6653c;
}
.sidebar1_child1 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}
.sidebar1_child1 > div > p {
  font-weight: bold;
  letter-spacing: 1px;
}
.sidebar1_child1 > div > span {
  color: var(--text-secondary);
  font-size: small;
}

.sidebar1_child2 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.sidebar1_child2 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar1_child2 > div > p {
  font-weight: bold;
}
.sidebar1_child2 > div > span {
  color: var(--text-secondary);
  font-size: small;
}

.nav {
  height: 5rem;
  width: 75%;
  display: flex;
  padding-left: 4rem;
  align-items: center;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.icon {
  margin-right: 1rem;
  font-size: large;
}

.sidebar3 > div {
  display: flex;
  margin-left: 4rem;
  align-items: center;
  cursor: pointer;
}
.sidebar3 > div > span {
  font-weight: bold;
  letter-spacing: 1px;
}

.stories {
  /* height: 6rem; */
  width: 100%;
  /* background-color: #e6653c; */
}
.posts {
  height: auto;
}
.post {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  margin-left: 0.2rem;
  width: 98%;
  height: auto;
  border-radius: 1rem;
  margin-top: 1.2rem;
  box-shadow: var(--box-shadow) 0px 1px 4px;
}
.post_header {
  padding-top: 0.5rem;
  color: var(--text-primary);
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.post_header_child1 {
  margin-left: 1rem;
}
.post_header_child2 {
  margin-right: 1rem;
}
.post_body {
  width: 100%;
  max-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post_body > p {
  padding-left: 3rem;
  width: 100%;
  color: var(--text-primary);
}
.post_body > img {
  height: 15rem;
  min-width: 50%;
  max-width: 90%;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow) 0px 0px 1px;
}
.post_footer {
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.post_footer_like {
  height: 2rem;
  width: auto;
  display: flex;
  align-items: center;
}
.post_footer_like > span {
  margin-left: 0.5rem;
}
.post_footer_like > img {
  height: 1.2rem;
  width: 1.2rem;
}
.post_footer_comment {
  height: 2rem;
  width: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.post_footer_comment > span {
  margin-left: 0.5rem;
}
.post_footer_share {
  height: 2rem;
  width: auto;
  display: flex;
  align-items: center;
}
.post_footer_share > span {
  margin-left: 0.5rem;
}
.post_footer_saved {
  height: 2rem;
  width: auto;
  display: flex;
  align-items: center;
}
.post_footer_saved > span {
  margin-left: 0.5rem;
}
.post_header_child1 > img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.post_header_child2 {
  margin-left: 0.5rem;
}
.post_header_child2 > h5 {
  color: var(--text-primary);
  margin: 0;
}
.post_header_child2 > span {
  color: var(--text-secondary);
  font-size: small;
}
.like_icon {
  color: #fe456e;
  font-size: larger;
  cursor: pointer;
}
.unlike_icon {
  font-size: larger;
  cursor: pointer;
}

.comment_div {
  display: flex;
  border-radius: 1rem;
  margin-top: 1rem;
  height: auto;
  width: 96%;
  padding: 0.8rem;
  transition-duration: 800ms;
  background-color: var(--bg-secondary);
}
.profile_link {
  cursor: pointer;
}
.trending_user {
  margin-top: 1rem;
  height: 2.5rem;
  width: 98%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--trend-bg);
  font-weight: 500;
}
.trending_user > img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.trending_user_follow {
  padding: 1px;
  height: 1rem;
  font-size: smaller;
  width: 3rem;
  background-color: var(--trend-icon);
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
}
